[ ca ]
default_ca      = CA_default

[ CA_default]
dir               = ./intermediate_ca
database          = $dir/tracking/index
new_certs_dir     = $dir/signed_certs
certificate       = $dir/intermediate.pem
serial            = $dir/tracking/serial
private_key       = $dir/intermediate.key

policy            = policy_any
email_in_dn       = no
unique_subject    = no
copy_extensions   = none
default_md        = sha256
default_crl_days  = 900000

[ policy_any ]
countryName            = optional
stateOrProvinceName    = optional
organizationName       = optional
organizationalUnitName = optional
commonName             = supplied
